# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test-and-build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Run tests for Python 3.7
      uses: abatilo/actions-poetry@v1.5.0
      with:
        python_version: 3.7
        poetry_version: 1.0
        args: 'install'

    - name: Run tests for Python 3.7
      uses: abatilo/actions-poetry@v1.5.0
      with:
        python_version: 3.7
        poetry_version: 1.0
        args: 'run pytest .'

    - name: Run tests for Python 3.8
      uses: abatilo/actions-poetry@v1.5.0
      with:
        python_version: 3.8
        poetry_version: 1.0
        args: 'run pytest .'

    - name: Run linting
      uses: abatilo/actions-poetry@v1.5.0
      with:
        python_version: 3.7
        poetry_version: 1.0
        args: 'run flake8 .'

    - name: Build Wheel
      uses: abatilo/actions-poetry@v1.5.0
      with:
        python_version: 3.7
        poetry_version: 1.0
        args: 'build -f wheel'

    - name: Upload wheel as artifact
      uses: actions/upload-artifact@v2
      with:
        name: wheel
        path: './dist/*.whl'
